#For a full overview of what these parameters mean, and to further customise
#your system, please consult doc/configuration and doc/scripting


# Whether to daemonise on startup (you don't want this during initial setup)
DAEMON = True

#WARNING: The default UID and GID are those of root. THIS IS NOT GOOD!
#If testing, set them to your id, which you can find using `id` in a terminal.
#If going into production, if no standard exists in your environment, use the
#values of "nobody": `id nobody`
#The UID this server will use after initial setup
UID = 0
#The GID this server will use after initial setup
GID = 0

#The IP of the interface to use for DHCP traffic
DHCP_SERVER_IP = '192.168.1.1'

#The databas-engine to use
#For details, see conf.py.overview
DATABASE_ENGINE = None
